.product-list {
    list-style: none;
    margin: 1rem auto;
    padding: 0;
    width: 90%;
    max-width: 40rem;
    background-color: rgb(121, 69, 45);
  }

  .product-list li {
    margin: 1rem 0;
    padding: 0.2rem;
    background-color: rgb(172, 120, 42);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 6px;
  }
  